NEXT_PUBLIC_SUPABASE_URL=https://myphyujlfjvmgcthpecn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im15cGh5dWpsZmp2bWdjdGhwZWNuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTYzOTA5NDksImV4cCI6MjA3MTk2Njk0OX0.llZEJq1LS7qro3mRkBDhezsV6IxJ4jBh1GDp_TLlbbg
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# E-Mail-Integration (Resend = schnell, Fastmail = langsam)
RESEND_API_KEY=
FASTMAIL_EMAIL=
FASTMAIL_APP_PASSWORD=
